body {
    margin: 0;
}

p {
    font-family: Didot;
    font-size: 18px;
    color: black;
    background-color: white;
    padding: 30px;
    text-align: center;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    text-align: center;
    font-size: 4em;
    opacity: 0.7;
    line-height: 150px;
}

#firstpic {
    background: url('front cover.jpg') fixed;
    width: 100%;
    transform: translateZ(-1px);
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
     -o-background-size: cover;
    background-size: cover;
    min-width:400px;
    height: 50vh;
  
}

#firstpic h1 {
    line-height: 150px;
    padding: 30px;
  
}

#secondpic {
    background: url('_DSF0875.JPG') fixed;
    width: 100vw;
    transform: translateZ(-1px);
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 50vh;
}

#secondpic h1{
    color: rgb(32, 32, 32);
    padding: 30px;
    display: block;
    line-height: 150px;
    

}
#thirdpic {
    background: url('_DSF0911.JPG') fixed;
    width: 100vw;
    transform: translateZ(-1px);
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 50vh;
  
    
}
#thirdpic h1 {
    line-height: 150px;
    padding: 30px;
}